doctype html
html
  extends layout
  append main
    h1.center-text Home Page
    article
      h1 sea-d48 node.js assignment
      h2 Brandon and Peg
      h3 Lessons learned
      ul
        li Don't forget to delete html files
        li Don't forget to save your file before attempting to run it
        li Don't forget to move link/anchor items to their own line
