doctype html
html
  extends layout
  append main
    h1.center-text Bird Poems
    article
      h1 Five Little Owls
        p
        | Five little owls
        br
        | on a branch by the shore
        br
        | A sqirrel scampered by
        br
        | and then there were four
        br
