<form data-ng-controller="MainController" data-ng-submit="submitForm(oneBirdy)">
  <input id="inputBirdName" type="text" placeholder="Bird name" name="birdname" data-ng-model="oneBirdy.birdname">
  <input id="inputBirdColor" type="text" placeholder="Bird color" name="birdcolor" data-ng-model="oneBirdy.birdcolor">
  <input id="inputSightingDate" type="text" placeholder="01/07/1943" name="sightingDate" data-ng-model="oneBirdy.sightingDate">
  <button id="btnSubmit" type="submit">submit</button>
</form>
